{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>Family Photo Classifier v2</title>
        <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">

        <script type = "text/javascript" src ="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/Chart.js' %}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </head>

    <body>
        <div class = "header">
            <div class = "home">
                <h1 class = "home">Family Photo Classifier v2</h1>   
            </div>
        </div>

        <div>
            <div style="width:55%; text-align:right; display: inline-block;">
                <img id="uploadPreview" style="width: 300px; height: 300px; object-fit: contain; border: 1px solid black;" class = "m-3" />
            </div>
            <div style="width: 44%;display: inline-block;">
                <div style="height: 80px; line-height: 80px; display: inline-block; width: 100%;">
                    <input type="file" id="uploadImage" name = "getImage" accept="image/*" capture = "camera" onchange="PreviewImage();" class = "btn btn-secondary" style="width: 230px;"/>
                    <script type="text/javascript">
                        function PreviewImage() {
                            var oFReader = new FileReader();
                            oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);
                    
                            oFReader.onload = function (oFREvent) {
                                document.getElementById("uploadPreview").src = oFREvent.target.result;
                            };
                        };
                    </script>
                </div>
                <div style="height:80px; display:inline-block; line-height: 80px;">
                    <button id = "predict" onclick="submit();" class="btn btn-info" style="width: 230px;">예측!</button>
                    
                    <script>
                        var csrftoken = getCookie('csrftoken');
                        
                        function submit(){
                            var form = new FormData();
                            form.append("getImage", $("#uploadImage")[0].files[0])
                            $.ajax('ajax/', {
                                method: 'POST',
                                data: form,
                                processData: false,
                                contentType: false,
                                success: function (response) {
                                    $("#predict").html("예측!");
                                    console.log(response)
                                    var tmpDate = new Date();

                                    $("#result").attr("src", response.img + "?" + tmpDate.getTime());

                                    $("#face1").attr("src",response.result[0].img + "?" + tmpDate.getTime());
                                    $("#face2").attr("src",response.result[1].img + "?" + tmpDate.getTime());
                                    $("#face3").attr("src",response.result[2].img + "?" + tmpDate.getTime());
                                    $("#face4").attr("src",response.result[3].img + "?" + tmpDate.getTime());

                                    $("#conf1").html(response.result[0].prob);
                                    $("#conf2").html(response.result[1].prob);
                                    $("#conf3").html(response.result[2].prob);
                                    $("#conf4").html(response.result[3].prob);
                                    
                                },
                                error: function () {
                                    alert('업로드 실패');
                                },
                            });
                            $("#predict").html(`
                            예측중..  <div id="loading"></div>
                            `);
                        }

                        function getCookie(name) {
                            var cookieValue = null;
                            if (document.cookie && document.cookie !== '') {
                                var cookies = document.cookie.split(';');
                                for (var i = 0; i < cookies.length; i++) {
                                    var cookie = cookies[i].trim();
                                    // Does this cookie string begin with the name we want?
                                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                        break;
                                    }
                                }
                            }
                            return cookieValue;
                        }

                        

                        function csrfSafeMethod(method) {
                            // these HTTP methods do not require CSRF protection
                            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                        }
                        $.ajaxSetup({
                            beforeSend: function(xhr, settings) {
                                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
        

        


        <div style="text-align: center;" class = "contents mt-3">
            <div style="display: inline-block;">
                <div style="float:left; margin-right: 10px;">
                    <img id="result" style="width: 400px; height: 400px; object-fit: contain; border: 1px solid black;"/>
                </div>

                

                <div style="width: 100px; float:left; text-align: center;font-weight: bold;font-size: 15px;">
                    <div style="width: 100%; height:100px;">
                        <img id = "face1" style="width: 100%; height: 100%; object-fit: contain; border: 1px solid black; border-bottom-style: none;"/>
                    </div>
                    <div style="width: 100%; height:100px;">
                        <img id = "face2" style="width: 100%; height: 100%; object-fit: contain; border: 1px solid black;border-bottom-style: none;"/>
                    </div>
                    <div style="width: 100%; height:100px;">
                        <img id = "face3" style="width: 100%; height: 100%; object-fit: contain; border: 1px solid black;border-bottom-style: none;"/>
                    </div>
                    <div style="width: 100%; height:100px;">
                        <img id = "face4" style="width: 100%; height: 100%; object-fit: contain; border: 1px solid black;"/>
                    </div>
                </div>

                <div style="width: 100px; float:left; text-align: center;font-weight: bold;font-size: 15px;">
                    <div style="width: 100%; height:100px;text-align: center;font-weight: bold;font-size: 15px;border: 1px solid black; border-bottom-style: none; border-left-style: none;">
                        엄마
                        <p id = "conf1" style="font-size: 22px; line-height: 70px; border-top: 1px solid black;">0%</p>
                    </div>
                    <div style="width: 100%; height:100px; text-align: center;font-weight: bold;font-size: 15px;border: 1px solid black; border-bottom-style: none; border-left-style: none;">
                        아빠
                        <p id = "conf2" style="font-size: 22px; line-height: 70px; border-top: 1px solid black;">0%</p>
                    </div>
                    <div style="width: 100%; height:100px;text-align: center;font-weight: bold;font-size: 15px;border: 1px solid black; border-bottom-style: none; border-left-style: none;">
                        나
                        <p id = "conf3" style="font-size: 22px; line-height: 70px; border-top: 1px solid black;">0%</p>
                    </div>
                    <div style="width: 100%; height:100px; text-align: center;font-weight: bold;font-size: 15px;border: 1px solid black; border-left-style: none;">
                        누나
                        <p id = "conf4" style="font-size: 22px; line-height: 70px; border-top: 1px solid black;">0%</p>
                    </div>
                </div>
                
            </div>

            <div>
            <div style="width: 510px; display: inline-block; margin-top: 200px;">
            </div>
            </div> 

        </div>



    </body>




</html>
